*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Norse-Bold', sans-serif;
    color: var(--txt);
    /* outline: 1px solid red; */
}
.container{
    background-color:rgb(208, 203, 203);
    display: flex;
    width: 100vw;
    height: 100vh;
}
.picture{
    background-image: url(./scott-webb-_3l5B_4E_u0-unsplash.jpg);
    background-position: center;
    background-size:cover ;
    background-repeat:no-repeat;
    display: flex;
    align-items: center;

    width: 600px;
}
.left{
    background-color: rgba(240, 248, 255, 0.245);
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 200px;
    width: 600px;
}
.logo{
    width: 20%;
}

.form {
    background-color: whitesmoke;
    padding: 50px;
    max-width:600px;
    margin:40px auto;
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
  }

.top-row{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form{
    padding-top: 20px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-content:space-between;
    gap: 20px;
  }

h2{
    padding-bottom: 40px;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
}
